.footer {
  background-color: hsl(233, 26%, 24%);
  text-align: center;
  padding: 30px 0px;
}

.footer img {
  height: 30px;
  margin-bottom: 30px;
}

.footer .footer__social-media {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.footer .footer__nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  gap: 1rem;
  margin-bottom: 30px;
}

.footer .footer__nav li a{
  display: inline-block;
  color: rgba(255, 255, 255, 0.623);
  text-decoration: none;
}

.footer p {
  color: hsl(233, 8%, 62%);
  margin-top: 30px;
}