.section__hero {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  background-image: url('../../images/bg-intro-mobile.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

.section__hero img {
  width: 100%;
  position: absolute;
  top: -136px;
}

.section__hero .hero__description {
  text-align: center;
  position: absolute;
  bottom: 0;
  padding: 2rem;
}

.hero__description h1 {
  font-weight: 500;
  font-size: 2em;
  margin-bottom: .7rem;
}

.hero__description p {
  display: block;
  line-height: 1.5rem;
  font-weight: 400;
  font-size: .8em;
  color: var(--Dark-Blue);
  width: 100%;
  margin-bottom: 1.3rem;
}

.btn {
  display: inline-block;
  padding: 13px 35px;
  margin-top: 10px;
  background: linear-gradient(to right, hsl(136, 65%, 51%) 0%, hsl(192, 70%, 51%) 100%);
  border-radius: 50px;
  color: #fff;
  text-decoration: none;
  font-size: .8em;
}

.btn:hover {
  background: linear-gradient(to right, hsla(136, 65%, 51%, 0.623) 0%, hsla(192, 70%, 51%, 0.589) 100%);;
}

@media only screen and (min-width: 400px) {
  .section__hero {
    position: relative;
    height: 90vh;
  }

  .section__hero img {
    top: -80px;
  }

  .section__hero .hero__description{
    position: absolute;
    bottom: 40px;
  }
}